.swiper {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 12px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  
  .swiper-wrapper{
    border-radius: 50px;
  }